body {
  background-color: 89933D;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: 89933D;
  font-size: 18px;
  margin: 20px 20px;
}

h1 {
  color: 89933D;
  font-size: 32px;
  font-weight: 900;
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 40px 0 0 0;
}

h2 {
  color: 89933D;
}

a {
  color: 89933D;
  text-decoration: none;
  line-height: 26px;
}

h2 {
  line-height: 26px;
}

a:hover {
  color: 515B0E;
}

li {
  font-size: 26px;
  line-height: 2.6px;
  margin: 8px;
  margin: 10px auto;
  display: inline-block;
  padding: 0px 8px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

img {
  width: 150px;
  height: 150px;
}

.container {
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(255,255,255,.1);
  width: 700px;
  margin: 30px auto;
  padding: 20px;
}

.social {
  color: 89933D;
}

#btn_press_here {
  background-color: 89933D;
  border-radius: 8px;
  padding: 4px 8px;
  color: white;
}

#btn_press_here:hover {
  color: 515B0E;
}
